@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

html, body{
  overflow-x: hidden;
}

body {
    font-family: 'Oxygen', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.line{
  background: #DEDEDE;
  height: 1px;
  width: 200px;
}